@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* desktop header */
  --desktop-header-xl: 96px;
  --desktop-header-lg: 64px;
  --desktop-header-md: 42px;
  --desktop-header-sm: 32px;

  /* desktop body */
  --desktop-body-xl: 24px;
  --desktop-body-lg: 21px;
  --desktop-body-md: 19px;
  --desktop-body-sm: 15px;

  /* mobile header */
  --mobile-header-xl: 48px;
  --mobile-header-lg: 40px;
  --mobile-header-md: 32px;
  --mobile-header-sm: 28px;

  /* mobile body */
  --mobile-body-xl: 24px;
  --mobile-body-lg: 18px;
  --mobile-body-md: 16px;
  --mobile-body-sm: 12px;

  /* background colors */
  --background-a: #ffffff;
  --background-b: #000000;
  --alt-background-a: #f5f5f7;
  --alt-background-b: #1d1d1f;

  /* header colors */
  --header-a: #eeeeee;
  --header-b: #171a20;

  /* text colors */
  --text-color-dark: #818180;

  /* button color */
  --button-a: #3e6ae1;
  --button-a-hover: #1f70e0;
  --button-b-o30: rgba(0, 0, 0, 0.3); /* Opacity 30% */
  --button-b-o40: rgba(0, 0, 0, 0.4); /* Opacity 40% */

  /* tab color */
  --tab-a: #f2f2f3;
  --tab-a-hover: #e0e0e2;
  --tab-b: #000000;

  /* divider color */
  --divider-a: #e0e0e0;
  --divider-b: #4a4a4a;

  /* colors */
  --light-red: rgba(237, 78, 59, 0.1);
  --dark-red: rgba(183, 65, 52, 1);
  --silver: rgba(57, 60, 65, 1);
  --light-silver: rgba(92, 94, 98, 1);
  --blue: rgba(0, 113, 227, 1);
}

/* for input fields component */
input[data-filled="true"] + label {
  top: 0.5rem;
  font-size: 10px;
}

/* for feature modal animation */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInSection {
  from {
    opacity: 0;
    /* transform: scale(1); */
  }
  to {
    opacity: 1;
    /* transform: scale(0.95); */
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

/* Tailwind CSS customization */
@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out;
  }
  .animate-fadeInSection {
    animation: fadeInSection 1s ease-out;
  }
  .animate-fadeOut {
    animation: fadeOut 1s ease-out;
  }
}

/* for feature modal carousal */

#scrollbarWidth {
  scrollbar-width: none;
}

* {
  scrollbar-width: none; /* For Firefox */
}

*::-webkit-scrollbar {
  display: none; /* For Chrome, Edge, Safari */
}

/* Custom navigation styles */
.swiper-button-next,
.swiper-button-prev {
  background: rgba(0, 0, 0, 0.3); /* Optional: remove background */
  color: red !important; /* Set your custom arrow color */
  font-size: 0; /* Remove text */
  width: 60px !important; /* Set size of the arrow buttons */
  height: 60px !important; /* Set height of the arrow buttons */
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;

  align-items: center;
  justify-content: center;
  padding: 25px; /* Remove padding if it's not required */
  border-radius: 100%; /* Circular button shape */
  background-repeat: no-repeat;
  background-size: 40%; /* Adjust size of the arrow to fit button */
  background-position: center; /* Center the background image */
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    margin-left: 0px;
    margin-right: 0px;
    height: 40px !important;
    width: 40px !important;
    padding: 0px !important;
  }
}

.swiper-button-next {
  background-image: url("/images/arrow-right.svg");
}
.swiper-button-prev {
  background-image: url("/images/arrow-left.svg");
}

/* Add custom SVG arrow for the next button */
.swiper-button-next::after {
  content: "" !important;
}

/* Add custom SVG arrow for the prev button */
.swiper-button-prev::after {
  content: "" !important; /* Remove default text */
}

.swiper {
  overflow: visible !important;
}
.swiper-pagination {
  bottom: -60px !important;
}

/* 
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0 !important;
} */

/* @media screen and (max-width: 425px) {
  .swiper-slide {
    width: 280.857px !important;
  }
} */
/* @media screen and (max-width: 396px) {
  .swiper-slide {
    width: 270.857px !important;
  }
} */

/* number input remove the up and down arrow */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
